


#headerWrapper{

width:100%;
display: inline;

}



.logo{

padding: 10px;

margin-right:10px;

font-size: 35px;

font-family:fantasy;


}



.tagline{

font-size:15px;

margin-top:30px;

margin-left:200px;

font-family: monospace;


}



.nav-wrapper{


margin-left:100px;

margin-top:15px;
display: inline;

}





#movieListWrapper {


width:100%;

padding:10px;

}



#movieListWrapper input{


width:25%;


}



#movieListWrapper .movie{

border: 1px solid gray;

padding: 10px;

margin-bottom:10px;


}



#movieListWrapper .movie .movie-details{

margin-left:400px;


}
