#movieDisplay{
  border: 1px solid red;
  height: 1000px;
  width: 90%;
  margin: 0 auto;

}
.nav nav-pills{
display: inline;

}
ul li{
  display: inline;
  margin-right: 70px;
}


#headerWrapper{

width:100%;
display: inline;

}



.logo{



margin-left:110px;

font-size: 50px;

font-family:cursive;


}



.tagline {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 200px;
    font-family: monospace;
}


.nav-wrapper{


margin-right:40px;
float: right;
font-size: xx-large;
display: inline;

}





#movieListWrapper {


width:100%;

padding:10px;

}



#movieListWrapper input{


width:25%;


}



#movieListWrapper .movie{

border: 1px solid gray;

padding: 10px;

margin-bottom:10px;


}



#movieListWrapper .movie .movie-details{

margin-left:400px;


}
